.steemContainer{font-size:15px;font-family:'굴림',Gulim, sans-serif;}
.entry-content .steemContainer a, .entry-summary .steemContainer a, .page-content .steemContainer a, .comment-content .steemContainer a, .pingback .steemContainer .comment-body > a,
.steemContainer a, .steemContainer a:hover{text-decoration:none;border:none;}
.steemContainer a:link, .steemContainer a:visited, .steemContainer a:active, .steemContainer a:hover{font-weight:normal}
.steemContainer h1{margin:0.3em 0}
.steemContainer h2, .steemContainer h3, .steemContainer h4{margin:0.2em 0}
.steemContainer h5, .steemContainer h6{margin:0.1em 0}
.steemContainer hr{height:1px}
.steemContainer li{margin:0.75em 0}
.steemContainer img{max-width:100%;height:auto;}
.steemContainer blockquote{padding:5px;border:none;margin:0;}
.steemContainer blockquote > p{margin:0!important;}
.steemContainer .postBody > p{margin:0;}
.steemContainer .postReply > p{margin:0;}
.steemContainer .tagLabel,.steemContainer .tagName{font-weight:bold;font-size:120%;display:inline-block;}
.steemContainer .steemAccount{float:right;display:inline-block;}
.steemContainer .steemAccount a{padding:4px;}
.steemPost{width:100%;min-width:320px;border-bottom:1px solid #ccc;position:relative;display:table}
.steemPost:before{content:' ';display:table}
.steemPost:after{content:' ';display:table}
.steemPost>div{display:table-cell;vertical-align:middle;zoom:1;letter-spacing:normal;word-spacing:normal;padding:5px}
.steemContainer .table{width:100%;}
.steemContainer .table tbody tr:nth-child(even){background-color:#fcfcfc;}
.steemContainer .table tbody tr:hover{background:#eae9f7;}
.steemContainer .table thead, .steemContainer .table tbody, .steemContainer .table tfoot{border:none}
.steemContainer .table th, .steemContainer .table td{text-align:center;}
.steemContainer .table th:first-child, .steemContainer .table td:first-child{text-align:left;}
.steemContainer .table tbody th, .steemContainer .table tbody td{padding:3px 7px;}
.steemContainer .table tbody th{border-top:1px solid #c2c2c2;}
.steemContainer .table tbody td{border-top:1px solid #ccc}
.steemContainer .loaderSpace{min-height:50px;}
.steemContainer .more{display:none;}
.steemContainer .postDetails{display:none;}
.steemContainer .postDetails .postHeader{display:block;background:#f0f0f0;padding:5px 10px;margin-bottom:15px;}
.steemContainer .postDetails .postHeader:after{content:' ';width:100%;display:block;}
.steemContainer .postDetails .postTitle{display:block;}
.steemContainer .postDetails .postAuthor{display:inline-block;}
.steemContainer .postDetails .postCreated{display:inline-block;float:right;}
.steemContainer .postDetails .postBody{display:block;padding:5px 10px;}
.steemContainer .postDetails .postBody img{max-width:100%;height:auto;}
.steemContainer .postDetails .postTags{text-align:left;}
.steemContainer .postDetails .postTags .postTag{display:inline-block;background:#ddd;padding:4px 4px 4px 15px;margin:4px;position:relative;}
.steemContainer .postDetails .postTags .postTag:before{position:absolute;content:' ';background:#fff;width:4px;height:4px;border-radius:2px;left:5px;top:10px;}
.steemContainer p{margin-bottom:15px;font-size:100%;line-height:1.6;}
.steemContainer img{border:none!important;}
.steemContainer a{font-weight:normal;}
.steemContainer .postLink{}
.steemContainer .commentLink{margin-left:5px;color:#6e6e6e;font-size:80%}
.steemContainer .replyContainer{margin:15px 0;}
.steemContainer .reply{padding:5px 10px;border-bottom:1px solid #eee;}
.steemContainer .replyAuthor{display:inline-block;font-weight:bold;}
.steemContainer .replyCreated{display:inline-block;margin-left:10px;}
.steemContainer .replyBody{display:block;}
.steemContainer .replyBody img{max-width:400px;max-height:400px;}
.steemContainer .reply button{position:relative;padding:4px;border:1px solid #283A8E;color:#283A8E;margin-left:5px;border-radius:4px;}
.steemContainer .reply button .btnIcon{position:absolute;}
.steemContainer .reply button .btnCount{padding-left:20px;}
.steemContainer .reply .voted{background:#283A8E;color:#fff;}
.steemContainer .replyForm textarea{background:none;border:1px solid #bbb;}
.steemContainer .replyContainer textarea{background:none;border:1px solid #bbb;}
.steemContainer .postFooter{text-align:center;position:relative;}
.steemContainer button:focus{outline:0;}
.steemContainer button.vote:hover{background-color:#1A5099;}
.steemContainer button.vote:hover .voteCount{color:#fff;}
.steemContainer .vote{border:2px solid #283A8E;border-radius:5px;padding:0.85em 1em;width:100px;margin:0 0 1rem 0;background-color: #fff;color:#283A8E;display:inline-block;text-align:center;line-height:1;cursor:pointer;-webkit-appearance:none;vertical-align:middle;}
.steemContainer .vote.voted{color:#fff;background-color:#283A8E;}
.steemContainer .upvote{margin-right:15px;}
.steemContainer .downvote{margin-left:15px;}
.steemContainer .voteText{display:block;font-size:120%;}
.steemContainer .voteCount{display:block;font-size:24px;margin-top:5px;font-weight:bold;}
.steemContainer .votePower{display:none;position:absolute;border:2px solid #283A8E;width:100px;background:#fff;z-index:10;}
.steemContainer .votePower button{display:block;width:100%;padding:10px 0;border:1px solid #4BA2F2;}
.steemContainer .votePower button:hover{background:#4BA2F2;}
.steemContainer .upvoteLoader{position:absolute;display:none;text-align:center;width:100px;padding-top:20px;}
.steemContainer .downvoteLoader{position:absolute;display:none;text-align:center;width:100px;padding-top:20px;}
.steemContainer .replyForm{width:100%;display:table;position:relative;}
.steemContainer .replyInput{width:100%;display:table-cell;min-height:75px;font-size:100%;padding:5px;}
.steemContainer .replyForm .replyButton{display:table-cell;}
.steemContainer code{padding:3px;}
.steemContainer .childrenWrap .reply{border-bottom:0;border-top:1px solid #eee;}
.steemContainer .childrenWrap .reply:before{content:'└';width:17px;display:inline-block;color:#999;}
.steemContainer .childrenWrap .reply .replyBody{margin-left:17px;}
.steemContainer .childrenWrap .reply button.child{margin-left:17px;}
.steemContainer .postWrite{display:none;padding:10px 10px 10px 0;}
.steemContainer .postWrite textarea.editor{min-height:320px;width:100%;background:none;border:1px solid #bbb;margin: 0 0 10px 0;font-size:110%;}
.steemContainer .postWrite .postTitle{width:100%;margin:10px 0 10px 0;padding:4px;font-size:120%;border:1px solid #bbb;}

.steemContainer .reply .replyContainer{padding-left:15px;position:relative;}
.steemContainer .reply .replyContainer:before{content: '└';position:absolute;left:0;top:0;color:#999;}
.steemContainer .reply .replyContainer .button{color:#fff;}

.steemContainer button[disabled="disabled"]{background:#eee;}

.loader {position: relative;margin: 0 auto;width: 30px;}
.loader:before {content: '';display: block;padding-top: 100%;}
.circular {animation: rotate 2s linear infinite;height: 100%;transform-origin: center center;width: 100%;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;}
.path {stroke-dasharray: 1, 200;stroke-dashoffset: 0;animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
stroke-linecap: round;}
@keyframes rotate {
100% {transform: rotate(360deg);}
}
@keyframes dash {
0% {stroke-dasharray: 1, 200;stroke-dashoffset: 0;}
50% {stroke-dasharray: 89, 200;stroke-dashoffset: -35px;}
100% {stroke-dasharray: 89, 200;stroke-dashoffset: -124px;}
}
@keyframes color {
100%,
0% {stroke: #d62d20;}
40% {stroke: #0057e7;}
66% {stroke: #008744;}
80%,90% {stroke: #ffa700;}
}